#header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #007FFF;
}

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Segoe UI", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    color: white;
}

main {
    flex: 1 0 auto;
    display: grid;
    align-items: center;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    text-align: center;
    width: 298px;
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#box-img {
    margin: 10px 0;
}

#box form > * {
    margin-bottom: 30px;
}

.finput {
    border-radius: 20px;
    border: 1px solid #707070;
    height: 32px;
    width: 200px;
}

.input-with-icon input[type=text] {
    padding-left: 40px;
}

.input-with-icon input[type=password] {
    padding-left: 40px;
}

.input-with-icon {
    position: relative;
}

.input-with-icon .email-icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 14px;
}

.input-with-icon .pass-icon {
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px 14px;
}

.input-with-icon input[type=text]:focus + img {
    color: dodgerblue;
}

.input-with-icon input[type=password]:focus + img {
    color: dodgerblue;
}

.fbutton {
    background: #17234B;
    height: 50px;
    width: 110px;
    border: none;
    font-family: "Segoe UI", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size: 20px;
    color: white;
    border-radius: 26px;
}

.fbutton:hover {
    background-color: #007FFF;
}

.flink a {
    color: #17234B;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.flink a:hover {
    color: #007FFF;
}

footer {
     text-align: center;
     font-family: "Segoe UI", Segoe, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
     flex-shrink: 0;
     margin-bottom: 15px;
 }

